FROM {{base_image}}

{{#dependencies?}}
RUN $APT_GET_INSTALL{{#packages}} \
    {{package}}{{/packages}}
{{/dependencies?}}

VOLUME /build
COPY ./source /source
{{#buildscript?}}
COPY ./source/{{path}} /buildscript.sh
{{/buildscript?}}

ENV WHEELHOUSE=/build/wheelhouse \
    PIP_WHEEL_DIR=/build/wheelhouse \
    PIP_FIND_LINKS=/build/wheelhouse

{{#buildscript?}}
CMD /buildscript.sh
{{/buildscript?}}
{{^buildscript?}}
WORKDIR /source
CMD pip wheel .
{{/buildscript?}}
